apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: stonesoup-devfile-sample-code-with-quarkus-iuut
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: stonesoup-devfile-sample-code-with-quarkus-iuut
    app.kubernetes.io/part-of: my-quarkus-app
  name: stonesoup-devfile-sample-code-with-quarkus-iuut
  namespace: btison-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: stonesoup-devfile-sample-code-with-quarkus-iuut
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: stonesoup-devfile-sample-code-with-quarkus-iuut
    spec:
      containers:
      - image: quay.io/redhat-appstudio/user-workload:fAlt6-stonesoup-devfile-sample-code-with-quarkus-iuut
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 250Mi
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
